@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Hey git!! Fuck your sister :)
    </h1>
    <h1 class="display-4">And fuck your family</h1>
</div>
