@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wellcome to Elkoob:)</h1>
    <p>Learn about <a href="http://www.my.elkoob.ir">Elkoob:))</a>.</p>
</div>
